@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --font-family-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  --font-family-secondary: var(--font-roboto-mono), ui-sans-serif, system-ui, sans-serif;
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
/* Tạm thời tắt đi vì chưa có dark mode hoàn chỉnh */
/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}
